.hamburger {
  padding: 15px 15px;
  display: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

@media screen and (max-width: 850px) {
  .hamburger {
    display: inline-block;
  }
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is_active:hover {
  opacity: 0.7;
}

.hamburger.is_active .hamburger_inner,
.hamburger.is_active .hamburger_inner::before,
.hamburger.is_active .hamburger_inner::after {
  background-color: #000;
}

.hamburger_box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger_inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger_inner,
.hamburger_inner::before,
.hamburger_inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger_inner::before,
.hamburger_inner::after {
  content: "";
  display: block;
}

.hamburger_inner::before {
  top: -10px;
}

.hamburger_inner::after {
  bottom: -10px;
}

/*
   * 3DX
   */
.hamburger__3dx .hamburger_box {
  perspective: 80px;
}

.hamburger__3dx .hamburger_inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger__3dx .hamburger_inner::before,
.hamburger__3dx .hamburger_inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger__3dx.is_active .hamburger_inner {
  background-color: transparent !important;
  transform: rotateY(180deg);
}

.hamburger__3dx.is_active .hamburger_inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger__3dx.is_active .hamburger_inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * 3DX Reverse
   */
.hamburger__3dx_r .hamburger_box {
  perspective: 80px;
}

.hamburger__3dx_r .hamburger_inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger__3dx_r .hamburger_inner::before,
.hamburger__3dx_r .hamburger_inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger__3dx_r.is_active .hamburger_inner {
  background-color: transparent !important;
  transform: rotateY(-180deg);
}

.hamburger__3dx_r.is_active .hamburger_inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger__3dx_r.is_active .hamburger_inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}